body {
    margin: 0px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile {
    background-color: rgb(198, 198, 198);
    background-size: 125px;
    width: 125px;
    height: 125px;
    border: solid 1px rgb(80, 80, 80);
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}

button {
    border: solid 1px rgb(79, 79, 79);
    background-color: white;
    font-weight: bold;
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 17px;
}

button:active {
    background-color: rgb(231, 232, 249);
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 700px) {
    .header {
        padding-left: 50px;
    }

    .game {
        flex-direction: row;
    }

    .board {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 700px;
        height: 700px;
    }

    .tile {
        background-color: rgb(198, 198, 198);
        background-size: 200px;
        width: 200px;
        height: 200px;
        border: solid 1px rgb(80, 80, 80);
    }

    .tile:hover {
        opacity: 0.8;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        width: 120px;
    }

    .menu>* {
        margin: 10px;
    }

    .moveleft {
        animation-name: move-left;
        animation-duration: 2s;
        animation-play-state: running;
    }

    @keyframes move-left {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-200px);
        }
    }

    .moveright {
        animation-name: move-right;
        animation-duration: 400ms;
        animation-timing-function: linear;
        animation-play-state: running;
    }

    @keyframes move-right {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(200px);
        }
    }

    .moveup {
        animation-name: move-up;
        animation-duration: 1ms;
        animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
        animation-play-state: running;
    }

    @keyframes move-up {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-200px);
        }
    }

    .movedown {
        animation-name: move-down;
        animation-duration: 2s;
        animation-play-state: running;
    }

    @keyframes move-down {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(200px);
        }
    }
}
